*{
    font-family: Roboto;
    box-sizing: border-box;
}
.bv{
    border: 1px solid red;
}

/* HEADER CSS */
.desk-head{
    background-color: #F8F9FA;
    font-size: 18px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-page{
    color: black;
    margin-right: 20px;
}

.icon-search{
    background-color: white;
    border: 1px solid #CED4DA;
    border-radius: 4px 0px 0px 4px !important;
    border-right: 5px;
}
input#inp-search-coures{
    border: 1px solid #CED4DA;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
}
input#inp-search-coures::placeholder{
    color: #6C757D;
}
input#inp-search-coures:focus{
    outline: none;
}
.btn-search{
    border: 1px solid #007BFF;
    border-radius: 4px;
    color: #007BFF;
    margin-left: 10px;
}
/* SLIDE-BODY */
.slide-body{
    background-color: #1ba3b8;
    height: fit-content;
}
.img-content{
    padding-left: 50px;
}
.group-slide-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.welcome{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.des{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin: 20px 0px;
}
.btn-course{
    padding: 10px 20px;
}
.btn-ins{
    padding: 10px 20px;
    margin-left: 20px;
}

/* COURSE CONTENT */
.category-title{
    margin: 30px 0px;
    font-size: 28px;
}
.course-group{
    margin-bottom: 30px;
}
.main-card-courses{
    width: 80%;
    margin-left: 10%;
}
.card-courses > img{
    border-radius: 4px 4px 0px 0px;
    height: 160px;
}
.card-courses{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    margin-bottom: 15px;
}
.course-name{
    margin: 15px 0px;
    color: #007BFF;
}
.course-lv{
    margin-bottom: 15px;
}
.course-time{
    margin-left: 10px;
}
.lv{
    margin-left: 10px;
}
.new-price{
    font-weight: bold;
}
.old-price{
    margin-left: 10px;
    color: #6C757D;
    text-decoration: line-through;
}
.teacher-course{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.030);
    padding: 15px 0px;
    padding-left: 10%;

}
.teacher-name{
    font-size: 12px;
    padding-left: 10px;
}
.mark-icon{
    padding-right: 15px;
}
.footer{
    margin-top: 20px;
    height: 40px;
}
.menu-items{
    color: #007BFF;
}
/* TABLE */
@media screen and (max-width: 991px) {
    .logo{
        padding: 20px;
    }
    .home{
        display: none !important;
    }
    .drop-menu{
        display: none;
    }
    .desk-head{
        height: auto;
    }
    .logo img{
        width: 150px;
    }
    .input-group{
        width: 100%;
        justify-content: center !important;
        padding-bottom: 20px;
    }
    .group-slide-content{
        padding: 30px 50px;
        width: 100%;
    }
    .img-content{
        text-align: center;
        padding: 0px;
    }
    .card-courses{
        margin-bottom: 15px;
    }
    .card-courses > img{
        border-radius: 4px 4px 0px 0px;
        height: 200px;
    }
    .copyright{
        text-align: center;
    }
    .menu-footer{
        display: none;
    }
}
/* PHONE */
@media screen and (max-width: 767px) {
    .btn-ins{
        margin: 10px 0px;
    }
    .group-slide-content{
        padding: 0px;
        width: 100%;
    }
    .img-content img{
        width: 100%;
    }
    .card-courses > img{
        border-radius: 4px 4px 0px 0px;
        height: 240px;
    }
}